{% extends 'base.html.twig' %}

{% block body %}


<div class="container">
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eos fugit harum neque quod. Animi autem
        consequatur consequuntur, cum cupiditate eius iste iure labore laborum libero repudiandae, sunt voluptas
        voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur cupiditate distinctio ducimus
        fugit nam odio quia. Dolore eaque fugiat hic in maxime quia quo voluptatem. Exercitationem facere perspiciatis
        provident.</p>

</div>
{% endblock %}
